body {
    background: purple;
    font-family: cursive;
    color: aliceblue;
    text-align: center;
}
p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: white;
}